[submodule "wassimovie-front"]
	path = wassimovie-front
	url = https://github.com/sleiderr/wassimovie-front
[submodule "wassimovie-back"]
	path = wassimovie-back
	url = https://github.com/sleiderr/wassimovie-back
[submodule "wassimovie-wasm-bindings"]
	path = wassimovie-wasm-bindings
	url = git@github.com:sleiderr/wassimovie-wasm-bindings.git
[submodule "wassi-kdann"]
	path = wassi-kdann
	url = git@github.com:sleiderr/wassi-kdann.git
[submodule "wassimovie-algo"]
	path = wassimovie-algo
	url = https://github.com/sleiderr/wassimovie-algo
